h1 {
  color : #150050 ;
  font: Brush Script MT;
  }


body {
  background-image: url('https://previews.123rf.com/images/elyshka/elyshka1812/elyshka181200069/114217810-bright-abstract-background-of-blue-sky-blue-color-texture-for-design-.jpg');
  background-color: #7CD1B8;
}
h3{
  color: #04293A;
  font-family: cursive;
}
td {color: #142850;
  font-size: 23px;
  font-family: cursive;}
hr {
    border: dotted;
    border-top-color: #B8E4F0;
    border-top-width: 8px;
    border-top-left-radius: 390px;
    border-bottom: 0px;
    border-spacing: 1cm 2em;
    width: 100%;
}
th {font-size: 25px;
  font-family: cursive;
  color: #172774}
img {image-resolution: from-image;}

li {
  color: #45046A;
  font-family: cursive;
  font-size: 23px;
}
h2 {
  color: #172774;
  font-family: cursive;
  font-size: 35px;
}
h1 {
  font-family: Cursive;
  font-size: 100;
}
p {
  font-family: Cursive;
  font-size: 50px;
}

a:link, a:visited {
  background-color: #344CB7;
  color: white;
  padding: 0px 12px;}
.click {background-color: transparent;
  color: #32C1CD;
  font-family: cursive;
  padding: 0px 0px;
  text-decoration: none;
  display: flex;
  font-size: 45px}
input[type=text] {
    width: 25%;
    background-color: transparent;border:solid 5px #45046A;
    border-style: double;
    height: 40px;
  }
textarea {width: 390px;
  height: 180px;
  border:solid 5px #45046A;
  border-style: double;
  background-color: transparent;
}
label {font-family: cursive;
  font-size: 30px;}

input[submit] {
  width: 5%;
  background-color: #84DFFF;
  height: 5px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input['submit']  {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
